---
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: >-
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*
HeaderFilterRegex: '^(?!.*(?:build|\.tools|vcpkg_installed|models|tests/fixtures)/).*(?:include/fac_lpr|src|tools|tests)/.*$'
AnalyzeTemporaryDtors: false
FormatStyle: none
---
